body {
     font-family: 'Lato',Helvetica, sans-serif; text-shadow: 1px 1px 1px #111;
     font-weight: 300;
     padding:0;
     margin:0;
     background-color: #111;
 }


 #chart { text-align: center;  }

 #chart .map g.arcs path,  #legend path {
     stroke: #090909; stroke-width:0.1;
     opacity: 1;
     fill: white;
 }

 #chart .map g.arcs path:hover { fill:white; }

 #chart .map .land { stroke-width:1.0; }

 #chart .map .land.highlighted {
     /* fill: #67F7C1; */
     stroke:#F2D59A;
     stroke-width:1;

 }
 
 #chart .map .land.selected {
     /*fill: #9D7C37;*/
     /*fill: #276cab;*/
     stroke: #F2D59A;
     fill:#555;
     stroke-width:1.3;
 }